<form [formGroup]="userForm">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" placeholder="Nombre" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Número de cédula</mat-label>
            <input matInput type="text" placeholder="0000000" formControlName="dni" maxlength="9" minlength="9">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Correo electrónico</mat-label>
            <input matInput type="email" placeholder="Correo electrónico" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirmar correo electrónico</mat-label>
            <input matInput type="email" placeholder="Confirmar correo electrónico" formControlName="confirm_email">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Cargo</mat-label>
            <input matInput type="text" placeholder="Cargo" formControlName="companyPosition">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Celular</mat-label>
            <input matInput type="text" placeholder="Teléfono" formControlName="phone">
        </mat-form-field>
    </div>

    <div class="row" *ngIf="!edit">
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" placeholder="Contraseña" formControlName="password"
                autocomplete="new-password">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirmar contraseña</mat-label>
            <input matInput type="password" placeholder="Confirmar contraseña" formControlName="confirm_password"
                autocomplete="new-password">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Empresa a la que pertenece</mat-label>
            <mat-select formControlName="company"
                [placeholder]="listCompanies.length === 0 ? 'Ninguna empresa disponible' : 'Seleccionar'"
                formControlName="company"
                (valueChange)="changeEmail($event)">
                <mat-option *ngFor="let companie of listCompanies" [value]="companie.id">{{companie.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Correo facturacón electónica</mat-label>
            <input matInput type="text" placeholder="Confirmar contraseña" [formControl]="emailC">
        </mat-form-field>       
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Pagina web</mat-label>
            <input matInput type="text" placeholder="Pagina web" [formControl]="url">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>¿Es retenedor de IVA?</mat-label>
            <mat-select [formControl]="iva" placeholder="Seleccionar">
                <mat-option [value]="1">Si</mat-option>
                <mat-option [value]="0">No</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Plazos de pago</mat-label>
            <mat-select placeholder="Seleccionar">
                <mat-option [value]="10">10 Dias</mat-option>
                <mat-option [value]="10">30 Dias</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Meta de ventas anuales</mat-label>
            <input matInput type="text" placeholder="Meta de ventas anuales">
        </mat-form-field>
    </div>

    <div class="row-full">
        <mat-form-field appearance="outline" formGroupName="client">
            <mat-label>Margen de ganancia</mat-label>
            <input matInput type="number" placeholder="%00" formControlName="margin">
        </mat-form-field>
    </div>
    

    <div class="row-full" formGroupName="brands">
        <h3>Marcas que maneja</h3>
        <div *ngFor="let marcaCtrl of marcasControls; let i = index">
            <div [formGroupName]="i" class="row-marcas">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre de la marca</mat-label>
                    <input matInput type="text" placeholder="Nombre de la marca" formControlName="name">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Fee (Comisión)</mat-label>
                    <input matInput type="text" placeholder="%0000000" formControlName="fee">
                </mat-form-field>
                <button mat-icon-button color="primary" class="delete-button" (click)="eliminarMarcas(i)"
                    [disabled]="i === 0 ? true : false">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <button mat-raised-button color="primary" (click)="agregarMarcas()">
            <mat-icon>add</mat-icon>
            Nueva marca
        </button>
    </div>
</form>