<form [formGroup]="userForm">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" placeholder="Nombre" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Número de cédula</mat-label>
            <input matInput type="text" placeholder="0000000" formControlName="dni" maxlength="9" minlength="9">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Correo electrónico</mat-label>
            <input matInput type="email" placeholder="Correo electrónico" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirmar correo electrónico</mat-label>
            <input matInput type="email" placeholder="Confirmar correo electrónico" formControlName="confirm_email">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Cargo</mat-label>
            <input matInput type="text" placeholder="Cargo" formControlName="companyPosition">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput type="text" placeholder="Teléfono" formControlName="phone">
        </mat-form-field>
    </div>

    <div class="row" *ngIf="!edit">
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" placeholder="Contraseña" formControlName="password"
                autocomplete="new-password">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirmar contraseña</mat-label>
            <input matInput type="password" placeholder="Confirmar contraseña" formControlName="confirm_password"
                autocomplete="new-password">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>¿Gestiona pedidos?</mat-label>
            <mat-select placeholder="Seleccionar">
                <mat-option [value]="true">Si</mat-option>
                <mat-option [value]="false">No</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Empresa a la que pertenece</mat-label>
            <mat-select formControlName="company"
                [placeholder]="listCompanies.length === 0 ? 'Ninguna empresa disponible' : 'Seleccionar'"
                formControlName="company"
                (valueChange)="changeEmail($event)">
                <mat-option *ngFor="let companie of listCompanies" [value]="companie.id">{{companie.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="row-full">
        <h3>Marcas que maneja</h3>
        <mat-form-field appearance="outline">
            <mat-label>Agregar Marcas</mat-label>
            <mat-chip-grid #chipGridU aria-label="Clientes">
                <mat-chip-row *ngFor="let brand of selectedBrands" (removed)="removeB(brand)">
                    {{brand.name}}
                    <button matChipRemove [attr.aria-label]="'remover ' + brand">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
            </mat-chip-grid>
            <input placeholder="Nuevos Clientes..." [disabled]="brandBool" [formControl]="brandsCtrl" [matChipInputFor]="chipGridU"
                [matAutocomplete]="autoU" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" />
            <mat-autocomplete #autoU="matAutocomplete"  (optionSelected)="selectedB($event)">
                <mat-option *ngFor="let brand of brandsList" [value]="brand">
                    <mat-checkbox [checked]="checkSeledBrands(brand)">{{brand.name}}</mat-checkbox>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</form>