<form [formGroup]="userForm">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" placeholder="Nombre" formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Celular</mat-label>
            <input matInput type="text" placeholder="Celular" formControlName="phone">
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Correo electrónico</mat-label>
            <input matInput type="email" placeholder="Correo electrónico" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirmar correo electrónico</mat-label>
            <input matInput type="email" placeholder="Confirmar correo electrónico" formControlName="confirm_email">
        </mat-form-field>
    </div>  

    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Empresa a la que pertenece</mat-label>
            <mat-select formControlName="company"
                [placeholder]="listCompanies.length === 0 ? 'Ninguna empresa disponible' : 'Seleccionar'"
                formControlName="company"
                (valueChange)="changeEmail($event)">
                <mat-option *ngFor="let companie of listCompanies" [value]="companie.id">{{companie.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" formGroupName="client">
            <mat-label>Margen de ganancia</mat-label>
            <input matInput type="number" placeholder="%00" formControlName="margin">
        </mat-form-field>
    </div>

    <div class="row-full">
        <mat-form-field appearance="outline">
            <mat-label>Cargo</mat-label>
            <input matInput type="text" placeholder="Cargo" formControlName="companyPosition">
        </mat-form-field>
    </div>

    <div class="row" *ngIf="!edit">
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" placeholder="Contraseña" formControlName="password"
                autocomplete="new-password">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirmar contraseña</mat-label>
            <input matInput type="password" placeholder="Confirmar contraseña" formControlName="confirm_password"
                autocomplete="new-password">
        </mat-form-field>
    </div>
</form>