<div class="nav">

    <div class="items">
        <div class="left-item">
            <div class="title">USUARIOS · <span>{{role}}</span></div>
        </div>
        <div class="right-item">
            <button mat-raised-button color="primary" (click)="openAddCompany()">
                <mat-icon>add</mat-icon>
                Nuevo usuario
            </button>
            <mat-form-field appearance="outline">
                <input matInput type="search" placeholder="Buscar" class="search-input">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>
    <div>
        <table mat-table [dataSource]="listUser" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let element">    	
                    {{element.name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Correo electrónico </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="rol">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Rol </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.roles[0].name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="detalles">
                <mat-header-cell *matHeaderCellDef>Detalles</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="openEditForm(element)">
                        <mat-icon>edit_outline</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="deleteEmployee(element.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
    </div>
</div>