<div mat-dialog-title class="dialog-title">
    <h3>{{data ? 'Editar': 'Nuevo'}} Cliente</h3>
</div>

<div mat-dialog-content class="content">
    <div class="row-full">
        <mat-form-field class="select-rol" appearance="outline">
            <mat-label>Tipo de Rol</mat-label>
            <mat-select placeholder="Seleccionar" [(ngModel)]="name">
                <mat-option *ngFor="let val of listClientsSelect" [value]="val.value">{{val.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="dialog-title" *ngIf="name" style="padding-bottom: 2em;">
        <h3>Información de Usuario</h3>
    </div>
    <app-client-legal-entity *ngIf="name === 'CNOPJ'" [userForm]="userForm" [edit]="edit" ></app-client-legal-entity>
    <app-client-natural-person *ngIf="name === 'CNCPN'" [userForm]="userForm" [edit]="edit" ></app-client-natural-person>
    <app-primary-corporate-client *ngIf="name === 'CCP'" [userForm]="userForm" [edit]="edit" ></app-primary-corporate-client>
    <app-secondary-corporate-client *ngIf="name === 'CCS'" [userForm]="userForm" [edit]="edit" ></app-secondary-corporate-client>
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button color="primary" (click)="saveData()">{{data ? 'Actualizar': 'Crear'}}</button>
</div>