//Header Style

header li>a {
    display: flex;
    position: relative;
    line-height: inherit;
    transition: var(--trans-color);
}

.header-top .wrapper {
    font-size: var(--font-small);
    font-weight: var(--fw3);
    justify-content: space-between;
    line-height: 42px;
}

.header-top .wrapper ul {
    gap: 2em;
}

.header-top li {
    position: relative;
}

.header-top ul ul ul {
    position: absolute;
    left: -1em;
    line-height: 2em;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    z-index: 1;
    display: none;
}

.header-top .right ul ul ul li a {
    padding: 0.25em 1em;
}

.header-top .right ul ul ul li.current a {
    background-color: var(--border-color);
}

.header-top ul li:hover ul {
    display: block;
}

//NAVEGACIÓN

.header-nav {
    padding: 0 .5em 0;
    margin-bottom: 1.5em;
    border-bottom: 1px solid var(--border-color);
}

.trigger {
    font-size: 1.5em;
    display: flex;
    padding: 0.25em;
    margin-right: 0.5em;
}

.logo a {
    font-family: 'Poppins';
    font-size: 1.75em;
    position: relative;
    font-weight: var(--fw8);
    display: flex;
    padding-left: 0.75em;
    margin-right: 2em;
}

.header-nav nav>ul {
    line-height: 100px;
    gap: 2em;
}

.fly-item {
    position: absolute;
    height: 16x;
    font-size: var(--font-smaller);
    padding: 3px;
    text-align: center;
    line-height: 10px;
    color: var(--white-color);
}

nav .fly-item {
    top: 50%;
    margin-top: -24px;
    width: 32px;
    border-radius: 3px;
    right: -32px;
    background-color: var(--primary-color);
}

.header-nav .right {
    position: relative;
    margin-left: auto;
}

.header-nav .right .icon-large {
    position: relative;
}

.header-nav .right .fly-item {
    top: 0;
    right: 10px;
    width: 10px;
    margin-top: -10px;
    background-color: var(--secondary-dark-color);
    border-radius: var(--percent50);
}

.mega .flexcol {
    flex: 1;
    min-width: 180px;
    padding-right: 2.5em;
    margin-bottom: 1.5em;
    z-index: 1;
}

// Categorias

.header-main {
    background-color: var(--dark-color);
    padding: 1.8em 0;
    margin-bottom: 2em;
}

.dpt-cat {
    position: relative;
    z-index: 10;
}

.dpt-cat .dpt-head {
    position: relative;
    width: 250px;
    padding: 0.75em 1.5em;
    background-color: var(--primary-color);
    border-radius: 7px 7px 0 0;
    color: var(--white-color);
    margin-bottom: -2.15em;
}

.dpt-cat .dpt-head .mini-text {
    color: var(--light-bg-color);
}

.dpt-cat .dpt-trigger {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.3em;
}

.dpt-menu>ul>li>a {
    font-size: var(--font-smaller);
    height: 46px;
    align-items: center;
}

.dpt-menu .has-child:hover ul {
    display: block;
}

.dpt-menu .has-child li a:hover {
    text-decoration: underline;
}

//Busqueda y boton

.header-main .right {
    flex: 1;
}

form {
    position: relative;
}

form.search input {
    line-height: 3.25em;
    padding: 0 7em 0 4.5em;
    border: 0;
    outline: 0;
    width: var(--percent100);
    border-radius: 7px;
    font-size: 0.9em;
    font-weight: var(--fw3);
}

form.search :where(span, button) {
    position: absolute;
    top: 0;
    padding: 0.55em 1.5em;
    font-size: 1em;
    color: var(--light-text-color);
    height: var(--percent100);
}

form.search button {
    right: 0;
    border: 0;
    outline: 0;
    font-size: 0.875em;
    font-weight: var(--fw6);
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    transition: var(--trans-background);
}

form.search button:hover {
    background-color: var(--dark-color);
}

//Footer

.newsletter {
    padding: 2.5em 0;
    background-color: var(--dark-color);
    color: var(--white-color);
}

.newsletter h3 {
    font-size: 1.5em;
}

.newsletter p {
    font-weight: var(--fw3);
    color: var(--border-color);
    margin: 0.5em 0 1.5em;
}

.newsletter p strong {
    color: var(--primary-color);
}

.newsletter form {
    max-width: 500px;
    width: var(--percent100);

    input {
        width: var(--percent50);
    }
}

.widgets {
    padding: 3.5em 2.5em;
    background-color: var(--light-bg-color);
}