<div class="slider" style="padding: 2em;">
    <div class="container">
        <div class="wrapper">
            <div class="myslider swiper">
                <div class="wrapper">
                    <div class="slide">
                        <div class="item">
                            <div class="image object-cover">
                                <img src="assets/img/slider/slider0.jpg" alt="">
                            </div>
                            <div class="text-content flexcol">
                                <h4>Zapatos</h4>
                                <h2><span>Comprame</span><br><span>Nuevos Marcas</span></h2>
                                <a href="#" class="primary-button">Comrpar ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="trending">
    <div class="container">
        <div class="wrapper">
            <div class="sectop flexitem">
                <h2><span>Novedades</span></h2>
            </div>
            <div class="column">
                <div class="flexwrap">
                    <div class="row products big">
                        <div class="item">
                            <div class="offer">
                                <p>Ofertas</p>
                                <ul class="flexcenter">
                                    <li>1</li>
                                    <li>15</li>
                                    <li>67</li>
                                    <li>30</li>
                                </ul>
                            </div>
                            <div class="media">
                                <div class="image">
                                    <a href="#">
                                        <img src="assets/img/products/apparel4.jpg" alt="">
                                    </a>
                                </div>
                                <div class="hoverable">
                                    <ul>
                                        <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                        <li><a href=""><i class="ri-eye-line"></i></a></li>
                                        <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="content">
                                <div class="rating">
                                    <div class="stars"></div>
                                    <span class="mini-text">(2,474)</span>
                                </div>
                                <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                                <div class="price">
                                    <span class="current">$20.000,00</span>
                                    <span class="normal mini-text">$20.000,00</span>
                                </div>
                                <div class="stock mini-text">
                                    <div class="qty">
                                        <span>Cantidad: <strong class="qty-available">110</strong></span>
                                        <span>Vendidos: <strong class="qty-sold">120</strong></span>
                                    </div>
                                    <div class="bar">
                                        <div class="available"></div>
                                    </div>
                                </div>
                            </div>                                        
                        </div>
                    </div>
                    <div class="row products mini">
                        <div class="item">
                            <div class="media">
                                <div class="thumbnail object-cover">
                                    <a href="#">
                                        <img src="assets/img/products/shoe1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="hoverable">
                                    <ul>
                                        <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                        <li><a href=""><i class="ri-eye-line"></i></a></li>
                                        <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="content">
                                <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                                <div class="rating">
                                    <div class="stars"></div>
                                    <span class="mini-text">(2,474)</span>
                                </div>
                                <div class="price">
                                    <span class="current">$20.000,00</span>
                                    <span class="normal mini-text">$20.000,00</span>
                                </div>
                                <div class="mini-text">
                                    <p>2312 vendidos</p>
                                    <p>Envio gratis</p>
                                </div>
                            </div>                                        
                        </div>
                    </div>
                    <div class="row products mini">
                        <div class="item">
                            <div class="media">
                                <div class="thumbnail object-cover">
                                    <a href="#">
                                        <img src="assets/img/products/apparel3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="hoverable">
                                    <ul>
                                        <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                        <li><a href=""><i class="ri-eye-line"></i></a></li>
                                        <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="content">
                                <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                                <div class="rating">
                                    <div class="stars"></div>
                                    <span class="mini-text">(2,474)</span>
                                </div>
                                <div class="price">
                                    <span class="current">$20.000,00</span>
                                    <span class="normal mini-text">$20.000,00</span>
                                </div>
                                <div class="mini-text">
                                    <p>2312 vendidos</p>
                                    <p>Envio gratis</p>
                                </div>
                            </div>                                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<div class="features">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="sectop flexitem">
                    <h2><span>Novedades</span></h2>
                    <div class="second-links"><a href="#" class="view-all">Ver todo<i class="ri-arrow-right-line"></i></a></div>
                </div>
                <div class="products main flexwrap">
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                    <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2,474)</span>
                            </div>
                            <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                            <div class="price">
                                <span class="current">$20.000,00</span>
                                <span class="normal mini-text">$20.000,00</span>
                            </div>
                        </div>                             
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                    <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2,474)</span>
                            </div>
                            <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                            <div class="price">
                                <span class="current">$20.000,00</span>
                                <span class="normal mini-text">$20.000,00</span>
                            </div>
                        </div>                             
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                    <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2,474)</span>
                            </div>
                            <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                            <div class="price">
                                <span class="current">$20.000,00</span>
                                <span class="normal mini-text">$20.000,00</span>
                            </div>
                        </div>                             
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                    <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2,474)</span>
                            </div>
                            <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                            <div class="price">
                                <span class="current">$20.000,00</span>
                                <span class="normal mini-text">$20.000,00</span>
                            </div>
                        </div>                             
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

<div class="banners">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="banner flexwrap">
                    <div class="row">
                        <div class="item">
                            <div class="image">
                                <img src="assets/img/banner/banner1.jpg" alt="">
                            </div>
                            <div class="text-content flexcol">
                                <h4>Muebles</h4>
                                <h3><span>Mejora los interiores de tu casa</span><br>Adquiere tu mueble ideal</h3>
                                <a href="" class="primary-button">Ver ahora</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item get-gray">
                            <div class="image">
                                <img src="assets/img/banner/banner2.jpg" alt="">
                            </div>
                            <div class="text-content flexcol">
                                <h4>Muebles</h4>
                                <h3><span>Mejora los interiores de tu casa</span><br>Adquiere tu mueble ideal</h3>
                                <a href="" class="primary-button">Ver ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="sectop flexitem">
                    <h2><span>Ofertas</span></h2>
                    <div class="second-links"><a href="#" class="view-all">Ver todo<i class="ri-arrow-right-line"></i></a></div>
                </div>
                <div class="products main flexwrap">
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                    <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2,474)</span>
                            </div>
                            <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                            <div class="price">
                                <span class="current">$20.000,00</span>
                                <span class="normal mini-text">$20.000,00</span>
                            </div>
                        </div>                             
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                    <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2,474)</span>
                            </div>
                            <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                            <div class="price">
                                <span class="current">$20.000,00</span>
                                <span class="normal mini-text">$20.000,00</span>
                            </div>
                        </div>                             
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                    <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2,474)</span>
                            </div>
                            <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                            <div class="price">
                                <span class="current">$20.000,00</span>
                                <span class="normal mini-text">$20.000,00</span>
                            </div>
                        </div>                             
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                    <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2,474)</span>
                            </div>
                            <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                            <div class="price">
                                <span class="current">$20.000,00</span>
                                <span class="normal mini-text">$20.000,00</span>
                            </div>
                        </div>                             
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

<div class="features">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="sectop flexitem">
                    <h2><span>Tecnologia y electronica</span></h2>
                    <div class="second-links"><a href="#" class="view-all">Ver todo<i class="ri-arrow-right-line"></i></a></div>
                </div>
                <div class="products main flexwrap">
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                    <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2,474)</span>
                            </div>
                            <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                            <div class="price">
                                <span class="current">$20.000,00</span>
                                <span class="normal mini-text">$20.000,00</span>
                            </div>
                        </div>                             
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                    <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2,474)</span>
                            </div>
                            <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                            <div class="price">
                                <span class="current">$20.000,00</span>
                                <span class="normal mini-text">$20.000,00</span>
                            </div>
                        </div>                             
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                    <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2,474)</span>
                            </div>
                            <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                            <div class="price">
                                <span class="current">$20.000,00</span>
                                <span class="normal mini-text">$20.000,00</span>
                            </div>
                        </div>                             
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                    <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2,474)</span>
                            </div>
                            <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                            <div class="price">
                                <span class="current">$20.000,00</span>
                                <span class="normal mini-text">$20.000,00</span>
                            </div>
                        </div>                             
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

<div class="features">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="sectop flexitem">
                    <h2><span>Amor y amistad</span></h2>
                    <div class="second-links"><a href="#" class="view-all">Ver todo<i class="ri-arrow-right-line"></i></a></div>
                </div>
                <div class="products main flexwrap">
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                    <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2,474)</span>
                            </div>
                            <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                            <div class="price">
                                <span class="current">$20.000,00</span>
                                <span class="normal mini-text">$20.000,00</span>
                            </div>
                        </div>                             
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                    <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2,474)</span>
                            </div>
                            <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                            <div class="price">
                                <span class="current">$20.000,00</span>
                                <span class="normal mini-text">$20.000,00</span>
                            </div>
                        </div>                             
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                    <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2,474)</span>
                            </div>
                            <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                            <div class="price">
                                <span class="current">$20.000,00</span>
                                <span class="normal mini-text">$20.000,00</span>
                            </div>
                        </div>                             
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="thumbnail object-cover">
                                <a href="#">
                                    <img src="assets/img/products/apparel1.jpg" alt="">
                                </a>
                            </div>
                            <div class="hoverable">
                                <ul>
                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                    <li><a href=""><i class="ri-shuffle-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="rating">
                                <div class="stars"></div>
                                <span class="mini-text">(2,474)</span>
                            </div>
                            <h3 class="main-links"><a href="#">Ropa para mujer</a></h3>
                            <div class="price">
                                <span class="current">$20.000,00</span>
                                <span class="normal mini-text">$20.000,00</span>
                            </div>
                        </div>                             
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>


<div class="features">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="sectop flexitem">
                    <h2><span>Articulos de oficina</span></h2>
                </div>
                <div class="products" style="padding-bottom: 2em;">
                    <div class="brands">
                        <div class="container">
                            <div class="wrapper flexitem">
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/brands/zara.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/brands/samsung.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/brands/asus.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/brands/dng.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/brands/hurley.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/brands/oppo.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>             
            </div>
        </div>
    </div>
</div>

<div class="features">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="sectop flexitem">
                    <h2><span>Marcas de distribucion directa</span></h2>
                </div>
                <div class="products" style="padding-bottom: 2em;">
                    <div class="brands">
                        <div class="container">
                            <div class="wrapper flexitem">
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/brands/zara.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/brands/samsung.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/brands/asus.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/brands/dng.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/brands/hurley.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/brands/oppo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="wrapper flexitem">
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/brands/zara.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/brands/samsung.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/brands/asus.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/brands/dng.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/brands/hurley.png" alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/brands/oppo.png" alt="">
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>             
            </div>
        </div>
    </div>
</div>

